<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <import resource="file:src/main/resources/dao.xml" />
    <import resource="file:src/main/resources/service.xml" />

    <bean id="application" class="ua.epam.spring.hometask.Application">
        <constructor-arg ref="customUserService"/>
        <constructor-arg ref="customDomainObjectService"/>
        <constructor-arg ref="daoService"/>
    </bean>

    <bean id="daoService" class="ua.epam.spring.hometask.service.DaoService">
        <constructor-arg ref="auditoriumDAO"/>
        <constructor-arg ref="eventDAO"/>
        <constructor-arg ref="userDAO"/>
    </bean>

    <bean id="domainObject" class="ua.epam.spring.hometask.domain.DomainObject" scope="prototype">
        <property name = "domainService" ref = "customDomainObjectService" />
    </bean>

</beans>